Success! Player 2 attacked! <br>
<%= @game.player1.name %> : <%= @game.player1.hp %> HP <br>
<%= @game.player2.name %> : <%= @game.player2.hp %> HP

<form action="/play" method="get">
  <input type="submit" value="Next player move">
</form>
