<%= @Player1_name %> vs. <%= @Player2_name %><br>

<%= @Player2_name %>: 8 Hit Points<br>

<form action="/attack">
  <input type="submit" value="Attack">
</form>

<!--<button type="button">Attack</button><br>-->
